Repository dmrolfs/protto-rs: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-check, cargo-test

cargo-fmt:
  name: Format with rustfmt
  entry: nix
  language: system
  args:
  - develop
  - --command
  - cargo
  - fmt
  - --all
  - --
  - --check

cargo-clippy:
  name: Lint with clippy
  entry: nix
  language: system
  args:
  - develop
  - --command
  - cargo
  - clippy
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings

cargo-audit:
  name: Security audit
  entry: nix
  language: system
  args:
  - develop
  - --command
  - cargo
  - audit
  pass_filenames: false

cargo-check:
  name: cargo check
  entry: nix
  language: system
  args:
  - develop
  - --command
  - cargo
  - check
  - --workspace
  - --all-targets
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo nextest run --workspace
  language: system
  pass_filenames: false
  stages:
  - pre-push

updating nix env
  .envrc
  .pre-commit-config.yaml
  flake.lock
  flake.nix
  justfile
  nix-config/env-vars.nix
  nix-config/pre-commit-template.yaml
  nix-config/shell-aliases.nix
  nix-config/shell-hook.nix
  nix-config/starship.toml
Due: none

update flake nix
  flake.nix
  nix-config/env-vars.nix
  nix-config/shell-aliases.nix
  nix-config/shell-hook.nix
  nix-config/starship.toml
  tests/integration/src/additional_edge_case_tests.rs
  tests/integration/src/attribute_parser_tests.rs
  tests/integration/src/boolean_boundary_tests.rs
  tests/integration/src/boundary_property_tests.rs
  tests/integration/src/code_generation_edge_tests.rs
  tests/integration/src/strategy_selection_tests.rs
  tests/integration/src/type_inference_edge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

cosmetic
  protto_derive/src/field/field_codegen.rs
  tests/integration/proto/service.proto
  tests/integration/src/advanced_tests.rs
  tests/integration/src/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

working on fixing compile issues with additional test to address mutants
  protto_derive/src/analysis/attribute_parser.rs
  protto_derive/src/analysis/macro_input.rs
  protto_derive/src/field/context.rs
  protto_derive/src/field/conversion_codegen.rs
  protto_derive/src/field/conversion_strategy.rs
  protto_derive/src/field/error_mode.rs
  protto_derive/src/field/generator.rs
  protto_derive/src/field/info.rs
  protto_derive/src/field/mod.rs
  protto_derive/src/lib.rs
  protto_derive/src/struct_generator.rs
  tests/integration/src/additional_edge_case_tests.rs
  tests/integration/src/attribute_parser_tests.rs
  tests/integration/src/boolean_boundary_tests.rs
  tests/integration/src/boundary_property_tests.rs
  tests/integration/src/code_generation_edge_tests.rs
  tests/integration/src/edge_case_tests.rs
  tests/integration/src/error_types.rs
  tests/integration/src/lib.rs
  tests/integration/src/strategy_selection_tests.rs
  tests/integration/src/type_inference_edge_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

resolved issues w NotOperatorTestStruct
  protto_derive/src/field/conversion_strategy.rs
  protto_derive/src/field/info.rs
  tests/integration/src/additional_edge_case_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

resolved compile errors for extra tests
  protto_derive/src/field/info.rs
  tests/integration/src/additional_edge_case_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

resolved test failures
  protto_derive/src/field/conversion_strategy.rs
  tests/integration/proptest-regressions/boundary_property_tests.txt
  tests/integration/proptest-regressions/edge_case_tests.txt
  tests/integration/proptest-regressions/integration_tests.txt
  tests/integration/src/additional_edge_case_tests.rs
  tests/integration/src/advanced_tests.rs
  tests/integration/src/attribute_parser_tests.rs
  tests/integration/src/basic_tests.rs
  tests/integration/src/basic_types.rs
  tests/integration/src/boolean_boundary_tests.rs
  tests/integration/src/boundary_property_tests.rs
  tests/integration/src/code_generation_edge_tests.rs
  tests/integration/src/complex_types.rs
  tests/integration/src/default_types.rs
  tests/integration/src/edge_case_tests.rs
  tests/integration/src/error_tests.rs
  tests/integration/src/integration_tests.rs
  tests/integration/src/strategy_selection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

updated README after additional test work
  Cargo.toml
  README.md
Due: cargo-audit

formatting
  README.md
Due: none

explicit workspace version for publish
  protto_derive/Cargo.toml
Due: cargo-audit

versions for publish
  Cargo.lock
  Cargo.toml
  protto/Cargo.toml
  protto_derive/Cargo.toml
Due: cargo-audit

improve README for clarity and fix some errors
  Cargo.toml
  README.md
Due: cargo-audit

improve README for clarity and fix some errors
  README.md
Due: none

update cargo lock
  Cargo.lock
Due: cargo-audit

fix enum prefix for multi-word names and enable proto_required attribute
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  protto_derive/src/analysis/optionality.rs
  protto_derive/src/enum_generator.rs
  protto_derive/src/field/custom_conversion.rs
  protto_derive/src/field/info.rs
  protto_derive/src/lib.rs
  tests/integration/proto/service.proto
  tests/integration/src/combined_bug_tests.rs
  tests/integration/src/complex_types.rs
  tests/integration/src/enum_prefix_tests.rs
  tests/integration/src/lib.rs
  tests/integration/src/required_field_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-check, cargo-test

add CHANGELOG.md with 0.6.2 release notes
  CHANGELOG.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
